header {
    padding: 2% 0% 0% 15%;
}

.navigation-bar {
    display: flex;
    gap: 80px;
}

.link-nav {
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 2rem; 
    color: var(--secondary-color);
    text-decoration: none;   
}

main {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.introduction {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 15%;

}

h1 {
    font-size: 3.5rem;
    font-family: var(--title-font);
}

strong {
    color: var(--secondary-color);
}

.text_introduction {
    font-size: 2.5rem;
    font-family: var(--text-font);
    font-weight: 400;
}

.icon-img {
    width: 32px;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.call-social-media {
    font-family: var(--title-font);
    font-weight: 400;
    font-size: 1.8rem;
}

.social-media-link {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    text-align: center;
    font-size: 1.8rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--text-font);
    font-weight: 600;
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
}

.social-media-link:hover {
    background-color: var(--hover--button);
}

.profile-picture{
    width: 380px;
    border-radius: 50%;
    border: solid 3px var(--secondary-color);
    margin-bottom: 10%;
}

footer {
    display: flex;
    justify-content: space-around;
    color: var(--background-color);
    background-color: var(--secondary-color);
    padding: 24px;
    text-align: center;
    font-family: var(--text-font);
    font-size: 1.8rem;
    font-weight: 400;
}

footer a {
    color: var(--background-color);
}

@media (max-width:  1200px) {
    .header {
        padding: 10%;

    }

    .header {
        justify-content: center;
    }

    .main {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .introduction {
        width: auto;
    }

}
